{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
<!DOCTYPE html>
<html dir="ltr">
  <head>
    <link rel="stylesheet" href="{{ STATIC_PREFIX }}css/style9.css">
    <meta charset="utf-8">
    <title>SAWS</title>
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load("current", {packages:['corechart']});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ["Element", "Density", { role: "style" } ],
          ["1 day ago", 1, "#292929"],
          ["12 hours ago", 1, "#292929"],
          ["6 hours ago", 1, "#292929"],
          ["1 hour ago", 1, "#292929"],
          ["now", {{temp}}, "#292929"]

        ]);

        var view = new google.visualization.DataView(data);
        view.setColumns([0, 1,
          { calc: "stringify",
            sourceColumn: 1,
            type: "string",
            role: "annotation" },
          2]);

        var options = {
          title: "Temperature",
          // width: 600,
          // height: 300,
          bar: {groupWidth: "85%"},
          legend: { position: "none" },
          backgroundColor: 'transparent',


        };
        var chart = new google.visualization.ColumnChart(document.getElementById("columnchart_values"));
        chart.draw(view, options);
      }
    </script>






    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load("current", {packages:['corechart']});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ["Element", "Density", { role: "style" } ],
          ["1 day ago", 100, "#292929"],
          ["12 hours ago", 700, "#292929"],
          ["6 hours ago", 1, "#292929"],
          ["1 hour ago", 1, "#292929"],
          ["now", {{vlazhnost}}, "#292929"]
        ]);

        var view = new google.visualization.DataView(data);
        view.setColumns([0, 1,
          { calc: "stringify",
            sourceColumn: 1,
            type: "string",
            role: "annotation" },
          2]);

        var options = {
          title: "Moisture",
          // width: 600,
          // height: 300,
          bar: {groupWidth: "85%"},
          legend: { position: "none" },
          'backgroundColor': 'transparent',


        };
        var chart = new google.visualization.ColumnChart(document.getElementById("ccolumnchart_values"));
        chart.draw(view, options);
      }
    </script>
  </head>
  <body style="overflow-x:hidden;">
    <div class="header">
      SAWS
    </div>
    <div class="postheader">
      soil analyzing web system
    </div>
    <div class="headerbuttons">
      <a class="hbutton" href="{%url 'home'%}">HOME</a>
      <a class="hbutton" href="{%url 'analyze'%}">ANALYSIS</a>
      <a class="hbutton" href="{%url 'aboutus'%}">ABOUT US</a>
    </div>
    <section class="home-information">

    </section>
    <section>
    <div id="columnchart_values"></div>
      <p id="temp">{{result_temp}}</p>
    </section>
    <section>
    <div id="ccolumnchart_values" ></div>
      <p id="moist">{{result_vlazhnost}}</p>
    </section>
  </body>
</html>
